
<!-- Selector of header -->
<app-header (onMenuBtnClick)="toggle()"></app-header>



<mat-drawer-container class="example-container">

<!-- selector of  slidebar -->
<mat-drawer mode="side" [opened]="sidebarOpene">  <app-slidebar></app-slidebar>  </mat-drawer>

<!-- selector of dashboard -->
<mat-drawer-content>  

    <!-- user requested pages -->
    <router-outlet></router-outlet>
    
</mat-drawer-content>

</mat-drawer-container>



<mat-divider></mat-divider>

<!-- selector of footer -->
<app-footer></app-footer>